@media screen and (min-width: 789px) {
  .t-loading {
    height: 130px;
    margin-left: 60px;
    margin-right: 165px;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}

@media screen and (max-width: 787px) {
  .t-loading {
    height: 90px;
    margin-left: 26px;
    margin-right: 26px;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}
