.t-loading {
  height: 130px;
  width: 1109px;
  border-radius: 8px;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-bottom: 40px;
}
